name: Wheels

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
     - main
  release:
    types:
      - published

jobs:
  build_sdist:
    name: Build SDist
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./python-package
    permissions:
      contents: read
    steps:
    - uses: actions/checkout@v6
      with:
        persist-credentials: false

    - name: Build SDist
      run: pipx run build --sdist

    - name: Check metadata
      run: |
         pipx run twine check dist/*
         pwd
         ls -lah dist

    - uses: actions/upload-artifact@v4
      with:
        name: sdist-artifact
        path: ${{ github.workspace }}/python-package/dist/*.tar.gz

  build_wheels:
    name: Wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    defaults:
      run:
        working-directory: ./python-package

    steps:
    - uses: actions/checkout@v6
      with:
        persist-credentials: false

    - uses: pypa/cibuildwheel@298ed2fb2c105540f5ed055e8a6ad78d82dd3a7e # v3.3.1
      with:
        package-dir: python-package
      env:
        CIBW_ARCHS_MACOS: auto universal2
        CIBW_ARCHS: auto64
        CIBW_TEST_EXTRAS: "dev"

    - name: Verify clean directory
      run: git diff --exit-code
      shell: bash

    - name: Upload wheels
      uses: actions/upload-artifact@v4

      with:
        name: wheel-artifacts-${{ matrix.os }}
        path: wheelhouse/*.whl

  upload:
    name: Upload
    needs: [build_wheels, build_sdist]
    runs-on: ubuntu-latest
    if: github.event_name == 'release' && github.event.action == 'published'
    permissions:
      contents: read

    steps:
    - uses: actions/setup-python@v6

    - uses: actions/download-artifact@v4
      with:
        name: wheel-artifacts*
        path: dist

    - uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
      with:
        user: __token__
        password: ${{ secrets.pypi_password }}
